<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<description>Hello World Application</description>
	<display-name>helloworld</display-name>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<filter>
		<filter-name>SirebugFilter</filter-name>
		<filter-class>org.sirebug.filter.SirebugFilter</filter-class>
		<load-on-startup>100</load-on-startup>
	</filter>
	<filter>
		<filter-name>SirebugServlet</filter-name>
		<filter-class>org.sirebug.filter.SirebugServlet</filter-class>
		<load-on-startup>101</load-on-startup>
	</filter>
	<filter-mapping>
		<filter-name>SirebugServlet</filter-name>
		<url-pattern>/* </url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SirebugFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>helloworld_servlet</servlet-name>
		<display-name>helloworld_servlet</display-name>
		<servlet-class>org.sirebug.HelloWorldServlet</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>helloworld_servlet</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>

</web-app>